
body {
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    /* border: solid; */
    /* width: 50%; */
    /* margin: auto; */
    /* padding-bottom: 100px; */
    text-align: center;
    /* line-height: auto; */
    /* color: white; */
    font-size: 3rem;
    /* border: solid; */

}

h2 {
    /* border: solid; */
    /* text-align: center; */
    line-height: auto;
    font-size: 2.5rem;
    margin-top: 50px;
    padding: 10px;
}

h3 {
    /* border: solid; */
    /* text-align: center; */
    line-height: auto;
    font-size: 2rem;
    /* margin-top: 100px; */
}

button {
    /* border: solid; */
    text-align: center;
    /* line-height: auto; */
    font-size: 2rem;
    /* margin-top: 100px; */
    /* margin: 0 auto; */
    /* margin-left: 350px; */
    width: 30%;
    /* margin-left: 320px; */
    /* margin-top: 20px; */
    border-radius: 30px;;
    background-color: red;
    color: white;
    height: 80px;
    /* box-shadow: 1px 1px 1px black; */

}

.container {
    /* height: 200px;
    position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    /* border: 3px solid green;  */
  }
  


#box1 {
    /* width: 100%; */
    height: 850px;
    background: white;
    border: 1px solid;
    /* box-shadow: 5px 10px 18px #888888; */
    /* overflow: hidden; */
    margin: 50px;
    /* justify-content: center;
    display: flex; */
    background-color: white;


}

#box2 {
    /* position: relative; */
    /* border: solid; */
    width: 80%;
    height: 650px;
    /* margin: auto; */
    margin-top: 50px;
    margin-left: 100px;
    /* background: green; */
    /* margin: 0 auto; */
    /* border: 1px solid; */
    box-shadow: 5px 5px 10px black;
    background-color: whitesmoke;

}

#box3 {
    /* position: relative; */
    width: 80%;
    height: 350px;
    margin: auto;
    background: white;
    /* box-shadow: 5px 10px 18px #888888; */
    margin-top: 50px;
    border: 1px solid;
    /* border: dashed; */
    text-align: left;
    font-size: 2.0rem;
    padding: 10px;
    box-shadow: 5px 5px 10px black;
}

#box4 {
    line-height: auto;
    height: 200px;
    border: dotted;
    text-align: center;
    font: bold;
    font-size: 2rem;
    padding: 10px 0px 0px 10px;
    /* overflow-wrap: break-word; */
    word-break: break-all;
    display: flex;
    justify-content: center;
    align-items: center;

}


